<!-- ================================
        PRICES SECTION START
================================= -->

<section class="price_page">
    <div class="container-fluid">
        <div class="row">
        <!-- Free Users Will get -->
            <div class="col-lg-4">

                <h1>this is pricingf pgacisdovcsdfvisdvuis</h1>

            </div>


        <!-- Medium Users Will get -->
        <div class="col-lg-4">


        </div>


        <!-- Premium Users Will Get  -->
        <div class="col-lg-4">


        </div>

        
        </div><!-- Ending of the first row -->
    </div>

</section>