<<<<<<< HEAD
<!-- ================================
    START DASHBOARD AREA
================================= -->

<section class="dashboard-area">
  <div class="container">
    <% if(!isSubscribed) { %>
      <div data-toggle="modal" data-target="#smallModalTwo" class="lock-container">
        <span class="lock"></span>
      </div>
      <% } %>
        <div class="row mt-5" id="course-form-container">

          <div class="col-lg-12">
            <h3 class="widget-title">Add Job</h3>
          </div>
        </div>
        <form method="post" action="/courses/addCourse" id="course-form">
          <div class="row mt-5">
            <div class="col-lg-12">
              <div class="card-box-shared">
                <div class="card-box-shared-title">
                  <h3 class="widget-title">Basic info</h3>
                </div>
                <div class="card-box-shared-body">
                  <div class="user-form">
                    <div class="contact-form-action">
                      <div class="row d-flex justify-content-center">
                        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-9 col-10">
                          <div class="input-box">
                            <label class="label-text">Job Title<span class="primary-color-2 ml-1">*</span></label>
                            <div class="form-group">
                              <input pattern="[a-zA-Z0-9 ]+" title="must contain numbers and letters only" minlength="8"
                                required class="form-control all-inputs" type="text" name="inputCourseTitle"
                                placeholder="Job title" />
                              <span class="la la-file-text-o input-icon"></span>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-6 -->
                        <div class="col-lg-12">
                          <div class="input-box">
                            <label class="label-text">Job Description<span class="primary-color-2 ml-1">*</span></label>
                            <div class="form-group">
                              <textarea required class="message-control form-control all-inputs"
                                name="inputCourseDescription" placeholder="Write job description here"
                                style="resize: none"></textarea>
                              <span class="la la-pencil input-icon"></span>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-12 -->
                        <div class="col-xl-6 col-lg-6 col-md-7 col-10">
                          <div class="input-box">
                            <label for="input-course-category" class="label-text">Job Category<i
                                class="la la-question ml-1 tip" data-toggle="tooltip" data-placement="top"
                                title="Category of your job offer"></i></label>
                            <div class="form-group">
                              <select required class="form-control" name="inputCourseCategory">
                                <option>Select one of the following</option>
                                <option>lawn mowing</option>
                                <option>pressure washing</option>
                                <option>cleaning</option>
                                <option>moving</option>
                                <option>pet sitting</option>
                                <option>dog walking</option>
                                <option>babysitting</option>
                              </select>
                              <span class="la la-th input-icon"></span>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!-- end row -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- end card-box-shared -->
            </div>
            <!-- end col-lg-12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <button class="d-none" type="submit" id="submit-form"></button>
              <button class="theme-btn" id="submit-btn" type="button">
                Submit Job
              </button>
            </div>
          </div>
          <!-- end row -->
        </form>
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-content pt-0 pb-4 border-top-0 text-center">
              <div class="row">
                <div class="col-lg-12">
                  <p class="copy__desc">
                    >
                  </p>
                </div>
                <!-- end col-lg-12 -->
              </div>
              <!-- end row -->
            </div>
            <!-- end copyright-content -->
          </div>
          <!-- end col-lg-12 -->
        </div>
  </div>
  <!-- end container-fluid -->
</section>
<!-- end dashboard-area -->
<!-- ================================
END DASHBOARD AREA
=======
<!-- ================================
    START DASHBOARD AREA
================================= -->

<section class="dashboard-area">
  <div class="container">
    <% if(!isSubscribed) { %>
    <div data-toggle="modal" data-target="#smallModalTwo" class="lock-container">
      <span class="lock"></span>
    </div>
    <% } %>
    <div class="row mt-5" id="course-form-container">
      <div class="col-lg-12">
        <h3 class="widget-title">Add Job</h3>
      </div>
    </div>
    <form method="post" action="/courses/addCourse" id="course-form">
      <div class="row mt-5">
        <div class="col-lg-12">
          <div class="card-box-shared">
            <div class="card-box-shared-title">
              <h3 class="widget-title">Basic info</h3>
            </div>
            <div class="card-box-shared-body">
              <div class="user-form">
                <div class="contact-form-action">
                  <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-8 col-sm-9 col-10">
                      <div class="input-box">
                        <label class="label-text">Job Title<span class="primary-color-2 ml-1">*</span></label>
                        <div class="form-group">
                          <input pattern="[a-zA-Z0-9 ]+" title="must contain numbers and letters only" minlength="8"
                            required class="form-control all-inputs" type="text" name="inputCourseTitle"
                            placeholder="Job title" />
                          <span class="la la-file-text-o input-icon"></span>
                        </div>
                      </div>
                    </div>
                    <!-- end col-lg-6 -->
                    <div class="col-lg-12">
                      <div class="input-box">
                        <label class="label-text">Job Description<span class="primary-color-2 ml-1">*</span></label>
                        <div class="form-group">
                          <textarea required class="message-control form-control all-inputs"
                            name="inputCourseDescription" placeholder="Write job description here"
                            style="resize: none"></textarea>
                          <span class="la la-pencil input-icon"></span>
                        </div>
                      </div>
                    </div>
                    <!-- end col-lg-12 -->
                    <div class="col-xl-6 col-lg-6 col-md-7 col-10">
                      <div class="input-box">
                        <label for="input-course-category" class="label-text">Job Category<i
                            class="la la-question ml-1 tip" data-toggle="tooltip" data-placement="top"
                            title="Category of your job offer"></i></label>
                        <div class="form-group">
                          <select required class="form-control" name="inputCourseCategory">
                            <option>Select one of the following</option>
                            <option>lawn mowing</option>
                            <option>pressure washing</option>
                            <option>cleaning</option>
                            <option>moving</option>
                            <option>pet sitting</option>
                            <option>dog walking</option>
                            <option>babysitting</option>
                          </select>
                          <span class="la la-th input-icon"></span>
                        </div>
                      </div>
                    </div>
                    <!-- end col-lg-6 -->
                    <div
                      class="col-xl-5 col-lg-5 col-md-7 col-sm-8 col-11 ml-xl-5 ml-lg-5 ml-md-5 ml-sm-5 ml-0 mr-xl-5 mr-lg-5 mr-md-5 mr-sm-5 mr-0">
                      <div class="input-box">
                        <div class="d-flex flex-column">
                          <label for="customFile" class="label-text mx-auto w-50">Job picture<span
                              class="primary-color-2 ml-1">*</span></label>
                          <input required class="w-75 mx-auto all-inputs" type="file" name="inputCoursePic"
                            id="inputCoursePic" accept="image/x-png,image/jpeg,image/jpg" />
                        </div>
                        <div class="mt-3">
                          <div class="d-none" id="image-box" style="border: 1px dotted silver">
                            <div class="d-flex flex-column justify-content-center">
                              <span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                  id="remove-img-preview">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </span>
                              <img src="" alt="" id="preview-image" style="display: block; width: 100%" />
                              <button class="btn btn-primary btn-medium d-none" type="button" id="crop-btn">
                                Done
                              </button>
                              <img src="" alt="" style="height: 280px; width: 280px" id="cropped-image" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end col-lg-12 -->
                  </div>
                  <!-- end row -->
                </div>
              </div>
            </div>
            <!-- end card-box-shared-body -->
          </div>
          <!-- end card-box-shared -->
          <div class="card-box-shared">
            <div class="card-box-shared-title">
              <h3 class="widget-title">Videos</h3>
            </div>
            <div class="card-box-shared-body" id="video-card">
              <div class="user-form">
                <div class="contact-form-action">
                  <div class="row d-flex flex-column" id="videos-container">
                    <div class="w-100 d-flex justify-content-center" id="firstVideo">
                      <div class="row w-75 rounded-lg" style="border: 1px solid grey">
                        <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9 col-11 mx-auto">
                          
                        </div>
                        <!-- end col-lg-4 -->
                        <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9 col-11 mx-auto">
                          <div class="input-box">
                            <label class="label-text">Video File<span class="primary-color-2 ml-1">*</span></label>
                            <div class="form-group">
                              <label class="btn btn-lg btn-primary" for="videolink0">Add Video File</label>
                              <input required class="form-control all-video-urls videolink all-inputs" type="file"
                                placeholder="Video File" accept="video/*" id="videolink0" name="videolink0" counter="0"
                                onchange="myFunction(this)" />
                              <!-- <span class="la la-link input-icon"></span> -->
                              <span id="upload0" class="upload-span">uploading...</span>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-4 -->
                      </div>
                      <!-- <div class="row" id="video-btn-container">
                        <div class="d-flex align-items-center">
                          <div class="my-auto">
                            <button class="btn btn-medium ml-4 pt-3" id="add-video-btn">
                              <i class="fa fa-plus-square fa-3x"></i>
                            </button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- end row -->
                </div>
              </div>
            </div>
            <!-- end card-box-shared-body -->
          </div>
          <!-- end card-box-shared -->
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <button class="d-none" type="submit" id="submit-form"></button>
          <button class="theme-btn" id="submit-btn" type="button">
            Submit Job
          </button>
        </div>
      </div>
      <!-- end row -->
    </form>
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-content pt-0 pb-4 border-top-0 text-center">
          <div class="row">
            <div class="col-lg-12">
              <p class="copy__desc">
                >
              </p>
            </div>
            <!-- end col-lg-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end copyright-content -->
      </div>
      <!-- end col-lg-12 -->
    </div>
  </div>
  <!-- end container-fluid -->
</section>
<!-- end dashboard-area -->
<!-- ================================
END DASHBOARD AREA
>>>>>>> d3301e023643c436dffadd75c29a502468ba92d3
================================= -->